.card {
  width: auto;
  height: auto;
  /* border: 2px solid red; */
  display: flex
;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  }
  
  ul{
    display: flex
    ;
        gap: auto;
        flex-wrap: wrap;
        list-style: none;
  }

  li{
    padding:25px;
  }

